/* stylesheet for custom graph */
/*References:
//https://bl.ocks.org*/


body {
  background-color: #fff;
  font-family: "adelle-1","adelle-2", constantia, cambria, Georgia, serif;
  font-size:14px;
  margin: 50px 0 0 150px;
  padding-bottom: 100px;
}

h1 {
  font-size: 30px;
  margin: 100;
  color: #5387bd;
  font-weight: normal;
}

h2 {
  font-weight: normal;
  color: #808080;
}

p {
  font-weight: normal;
  color: #808080;
  margin: 0px;
  margin-right: 150px;
  padding-bottom: 10px;
  font-size: 16px;
}

svg {
      width:49%;
      height:400px;
      float: left;
    }

/*g.linklight path{
  stroke: #ff0000;
  opacity: 1;
}

g.highlight path {
  stroke: #cfa63e;
  stroke-width: 4;
  opacity: 1;
}

g.national path {
  stroke: #5387bd;
  stroke-width: 4;
  opacity: 1;
}
*/

.axis path,
.axis line {
  fill: none;
  stroke: #BCBCBC;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.axis path {
  opacity: 1;
}

.line:hover, .pathBase:hover {
  stroke: black;
  opacity: 1;
}

.pathBase {
  stroke: #888;
  /*opacity: 0.2;*/
}

.pathLight {
  stroke: black;
  /*opacity: 1;*/
}
  
#hoverlabel {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  fill: #496d64;
  font-size: 15px;
  color: #808080;
  text-anchor: start;
}
    
.axis text {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.linelabel {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  fill: #333;
  font-size: 12px;
  text-anchor: start;
  opacity: 0.5;
}

.labelNation {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  fill: #5387bd;
  font-size: 12px;
  text-anchor: start;
}

.labelDistrict {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  fill: #cfa63e;
  font-size: 12px;
  text-anchor: start;
}

.mapLight{
  opacity: 1;
  stroke: #fff;
  stroke-linejoin: round;
}

.mapBase{
  opacity: 0;
  stroke: #fff;
  stroke-linejoin: round;
}

.path.active {
  stroke: black;
  opacity: 1;
}



.y.axisBar path,
.y.axisBar line {
  opacity: 0;
  cursor: auto;
}

.x.axisBar path,
.x.axisBar line {
  opacity: 0.2;
  cursor: auto;
}



.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.states-choropleth {
  fill: #ef8f21;
}

.line {
  stroke: #ccc;
  stroke-width: 2;
/*  opacity: 0.2;
*/  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
  fill: none;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 0px;
  float: right;
}


/*learned from Justin Cohler's github
*/
.instruction {
  position: relative;
}

.instruction span {
  font-size: 14px;
  margin-top: 20px;
  display: none;
  position: absolute;
  width: 200px;
  padding: 5px;
  z-index: 200;
  background: rgba(0, 0, 0, 0.6);
  border: 0px solid rgba(0, 0, 0, 0.6);
  color: #edf3f7;
  -moz-border-radius: 5px;
  /* this works only in camino/firefox */
  -webkit-border-radius: 5px;
  /* this is just for Safari */
}

.instruction span:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.6);
  left: 8px;
  top: -7px;
}

.instruction span {
  display: block;
}