/* stylesheet for custom graph */


/*path:hover {
  stroke-width: 5 !important;
}*/
body {
  background-color: #fff;
  font-family: "adelle-1","adelle-2", constantia, cambria, Georgia, serif;
  font-size:14px;
  margin: 50px 0 0 150px;
}

h1 {
  font-size: 30px;
  margin: 100;
  color: #5387bd;
  font-weight: normal;
}

h2 {
  font-weight: normal;
  color: #808080;
}

p {
  color: #808080;
}

svg {
      width:50%;
      height:400px;
      float: left;
    }

g.linklight path{
  stroke: #ff0000;
  /*opacity: 1;*/
}

g.highlight path {
  stroke: #cfa63e;
  stroke-width: 4;
  /*opacity*/: 1;
}

g.national path {
  stroke: #5387bd;
  stroke-width: 4;
  /*opacity*/: 1;
}


.axis path,
.axis line {
  fill: none;
  stroke: #BCBCBC;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.axis path {
  opacity: 1;
}

.line:hover, .pathBase:hover {
  stroke: black;
  opacity: 1;
}

.pathBase {
  stroke: #888;
  /*opacity: 0.2;*/
}

.pathLight {
  stroke: black;
  /*opacity: 1;*/
}
  
#hoverlabel {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  fill: #496d64;
  font-size: 15px;
  color: #808080;
  text-anchor: start;
}
    
.axis text {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.linelabel {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  fill: #333;
  font-size: 12px;
  text-anchor: start;
  opacity: 0.5;
}

.labelNation {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  fill: #5387bd;
  font-size: 12px;
  text-anchor: start;
}

.labelDistrict {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  fill: #cfa63e;
  font-size: 12px;
  text-anchor: start;
}

.mapLight{
  opacity: 1;
  stroke: #fff;
  stroke-linejoin: round;
}

.mapBase{
  opacity: 0;
  stroke: #fff;
  stroke-linejoin: round;
}

.path.active {
  stroke: black;
  opacity: 1;
}

/* Bar specific CSS */

rect:hover {
  fill: #2E2E31;
}

.barBase {  
  fill: #5288BE;
}

.barLight {
  fill: #2E2E31;
}         

.axisBar text {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  font-size: 11px;
}

.axisBarTitle {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  font-size: 12px;
}

.y.axisBar path,
.y.axisBar line {
  opacity: 0;
  cursor: auto;
}

.x.axisBar path,
.x.axisBar line {
  opacity: 0.2;
  cursor: auto;
}

.barlabel {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  font-size:11px;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.states-choropleth {
  fill: #ef8f21;
}

.line {
  stroke: #ccc;
  stroke-width: 2;
  opacity: 0.2;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
  fill: none;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 0px;
  float: right;
}